*{
  font-family: "Courier Prime", monospace;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  padding: 0;
}

button {
  margin: 5px;
  padding: 10px;
  font-size: 60px;
  cursor: pointer;
  background-color: var(--button-bg-color);
  color: var(--button-text-color);
  border-radius: 10px;
}

:root {
  --correct-color: green;
  --incorrect-color: red;
  --disabled-color: #ccc;
  --button-bg-color: #f0f0f0;
  --button-text-color: #000;
}


body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: var(--button-bg-color);
  margin: 0; /* Adicione isso para remover a margem padrão */
  min-height: 100vh; /* Isso garante que o corpo tenha pelo menos a altura da viewport */
  display: flex;
  flex-direction: column;
}

#root {
  flex: 1; /* Faz o conteúdo principal ocupar o espaço disponível */
  display: flex;
  flex-direction: column;
}



button:disabled {
  background-color: var(--disabled-color);
  cursor: not-allowed;
}

button.correct {
  background-color: var(--correct-color);
  color: white;
}

button.incorrect {
  background-color: var(--incorrect-color);
  color: white;
}

div {
  /* margin: 20px; */
  font-size: 24px;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
}

footer img {
  width: 100%;
  height: auto;
}
