*{
  font-family: "Courier Prime", monospace;
  font-weight: 400;
  font-style: normal;
}
:root {
  --correct-color: green;
  --incorrect-color: red;
  --disabled-color: #ccc;
  --button-bg-color: #f0f0f0;
  --button-text-color: #000;
}

body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: var(--button-bg-color);
}

button {
  margin: 5px;
  padding: 10px;
  font-size: 60px;
  cursor: pointer;
  background-color: var(--button-bg-color);
  color: var(--button-text-color);
  border-radius: 10px;
}

button:disabled {
  background-color: var(--disabled-color);
  cursor: not-allowed;
}

button.correct {
  background-color: var(--correct-color);
  color: white;
}

button.incorrect {
  background-color: var(--incorrect-color);
  color: white;
}

div {
  margin: 20px;
  font-size: 24px;
}


/* body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f0f0f0;
}

button {
  margin: 5px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

button.correct {
  background-color: green;
  color: white;
}

button.incorrect {
  background-color: red;
  color: white;
}

div {
  margin: 20px;
  font-size: 24px;
} */


